@import "~@angular/material/theming";
@import "src/themes/my-theme.scss";

.timer {
  font-size: 2.0em;
  width: 380px;
  background-color: $gdg-blue;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.timer-number {
  margin-right: 5px;
}

.timer-letter {
  font-size: 0.6em;
}

@media only screen and (max-width: 599px) {

    .timer {
      font-size: 1.6em;
      width: 240px;
      border-radius: 15px;
    }
 
  
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1279px) {
    .timer {
      font-size: 1.8em;
      width: 300px;
      border-radius: 17px;
    }
    
  }
