<div class="timer" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="row" fxLayoutAlign="center end" >
    <div class="timer-number">{{ daysLeft }}</div>
    <div class="timer-letter">d</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center end" >
    <div class="timer-number">{{ hoursLeft }}</div>
    <div class="timer-letter">h</div>
  </div >
  <div fxLayout="row" fxLayoutAlign="center end" >
    <div class="timer-number">{{ minutesLeft }}</div>
    <div class="timer-letter">m</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center end" >
    <div class="timer-number">{{ secondsLeft }}</div>
    <div class="timer-letter">s</div>
  </div>
</div>
