<app-page-header>
  <section name="header-content" class="header-content" fxLayout="column" fxLayoutAlign="end start">
    <span> {{'team' | translate}}</span>
  </section>

</app-page-header>
<section name="team" style="width: 100%;padding-top: 30px;">
  <div *ngIf="team$ | async as team; else loading" fxLayout="row wrap" fxLayoutAlign="center center" style="width: 100%;"
  [@listAnimation]="team.length">
    <app-team-member *ngFor="let teamMember of team; let i=index " [teamMember]="teamMember" lp="{{i+1}}"></app-team-member>
  </div>

  <ng-template #loading>
    <div fxFill fxLayout="column" fxLayoutAlign="center center">
      <mat-spinner color="primary" class="my-spinner" diameter="50" strokeWidth="4"></mat-spinner>
    </div>

  </ng-template>

</section>
