<br><br><br><br>
<p>
  TEAM
</p>
<div *ngFor="let teamMember of team$ | async ">
  <h2>
    {{teamMember.name}}
  </h2>
  <img src="{{teamMember.profilePhoto}}" style="max-width: 200px; height: auto;">
  <div *ngIf="teamMember.linkedinUrl">
    <a href="{{teamMember.linkedinUrl}}" target="_blank">LinkedIn</a>
  </div>
  <div *ngIf="teamMember.twitterUrl">
    <a href="{{teamMember.twitterUrl}}" target="_blank">Twitter</a>
  </div>
  <div *ngIf="teamMember.githubUrl">
    <a href="{{teamMember.githubUrl}}" target="_blank">GitHub</a>
  </div>

  <div>
    Tags: {{teamMember.tags}}
  </div>
</div>

