<div style="padding-bottom: 50px;">
  <div class="title-container"
    fxLayout.gt-xs="row" fxLayout="column-reverse"
    fxLayoutAlign="center center"
    fxLayoutGap="30px"
    fxLayoutGap.sm="35px"
    fxLayoutGap.md="75px"
    fxLayoutGap.gt-md="100px" 
  >
    <div
      style="height: 100%;"
      fxLayout="column"
      fxLayoutAlign="space-evenly end"
      
    >
      <img
        src="../../../../assets/gfx/devfest_title.png"
        class="logo-img"
      />
      <div fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="10px">
          <div fxLayout="row" fxLayoutAlign="center start">
              <div fxLayout="column" fxLayoutAlign="start center">
                <mat-icon class="devfest-header-date-icon" style="margin-right: 20px;"
                  >event</mat-icon
                >
              </div>
              <div class="devfest-header-date" fxLayout="column">
                {{ devFest.eventStartDate | date: "d MMMM y, h:mm" }}
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center start">
                <div fxLayout="column" fxLayoutAlign="start center">
                  <mat-icon class="devfest-header-place-icon" style="margin-right: 20px;"
                    >place</mat-icon
                  >
                </div>
                <div class="devfest-header-place" fxLayout="column" fxLayoutAlign="center end" >
                  <a href="https://www.google.com/maps/place/Zesp%C3%B3%C5%82+Szk%C3%B3%C5%82+Techniczno-Zawodowych+im.+in%C5%BC.Czes%C5%82awa+Nowaka/@52.4158518,21.1781234,17.86z/data=!4m5!3m4!1s0x0:0x9491fc0c68dd227f!8m2!3d52.4159985!4d21.1787465" target="_blank">
                  Radzymin, ul. Jana Pawła II 18 (szkoła ZSTZ)
                </a>
                </div>
              </div>
      </div>
     
      <div fxLayout="column">
        <a
          href="{{devFest.meetupLink}}"
          mat-flat-button
          target="_blank"
          style="letter-spacing: 1px;"
          class="register-btn"
        >
          {{ "registration" | translate }}
        </a>
      </div>
    </div>
    <div
      class="devfest-header-logo"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <app-timer [eventDate]="devFest.getEventStartDateInMilisec()"></app-timer>
    </div>
  </div>
</div>
