<div fxLayout.gt-xs="row" fxLayout="column-reverse" fxLayoutAlign="space-evenly center" class="main"
fxLayoutGap="20px" >
  <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="60" 
  style="padding-left: 5%;padding-right: 5%;width: 100%;" >
    <div class="title">{{title}}</div>
    <div class="content">
      <div [innerHtml]="content | mdToHtml"></div>
    </div>
  </div>
  
  <div fxLayout="column" fxLayoutAlign="center center"  fxFlex="40">
    <img src="{{image.imgUrl}}" class="image">
  </div>


</div>
