<app-page-header >
    <section name="header-content" style="height: 100%;" fxLayout="column" fxLayoutAlign="end start">
        <span  style="font-size: 2.4rem;"> {{'events' | translate}}</span>
     </section>
</app-page-header>


<div *ngFor="let event of events$ | async ">
  <h1>
    Event: {{event.title}}
  </h1>
  <div [innerHTML]="event.description | mdToHtml">
  </div>

    <time>
      Event time: {{ event.eventDate | date: 'fullDate'}}
    </time>
    <div>
      Event location: {{ event.location?.lon}}, {{event.location?.lat}}
    </div>
    <address>
      Event address: {{ event.eventAddress }}
    </address>
    <a href="{{event.meetupLink}}" >{{event.meetupLink}}</a>
</div>

