<app-page-header>
  <section name="header-content" class="header-content" fxLayout="column" fxLayoutAlign="end start">
    <a href="{{(contactInfo$ | async)?.meetupUrl}}" class="meetup-link"
    mat-stroked-button target="_blank">
    <span>{{'joinourmeetupgroup' | translate}}</span>
    <fa-icon [icon]="faMeetup" style="font-size: 1.6em;margin-left: 10px;margin-top: 5px;margin-bottom: 5px;"></fa-icon>
  </a>
  </section>

</app-page-header>
<section name="content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div *ngIf="homeItems$ | async as items; else loading">
    <app-home-content-card *ngFor="let item of items;let i=index " [item]="item" [lp]="i+1">
    </app-home-content-card>
  </div>
  <ng-template #loading>
    <mat-spinner color="primary" class="my-spinner" diameter="50" strokeWidth="4"></mat-spinner>
  </ng-template>
</section>
