@import "~@angular/material/theming";
@import "src/themes/my-theme.scss";

:host {
  width: 100%;
}

.desc {
  background-color: #fff;
  padding: 50px 100px;
}

.desc-title {
  text-align: left;
  width: 100%;
  font-size: 2.4em;
  font-weight: 500;
  color: $secondary-text-color;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
}

.desc-content {
  text-align: left;
  width: 100%;
  font-size: 1em;
  font-weight: normal;
}

.desc-image {
  width: 90%;
  height: auto;
}

:host ::ng-deep ul {
  background-color: $gdg-red;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 2px;
  color: #fff;
}

:host ::ng-deep li {
  padding-bottom: 10px;
}

.register-btn {
  background-color: $gdg-yellow !important;
  font-size: 1.1em;
}

@media only screen and (max-width: 599px) {
  .desc {
    padding: 50px 10px;
  }

  .desc-content {
    text-align: justify;
    font-size: 1.0em;
  }

  .desc-title {
    text-align: center;
  }

  .desc-image {
    width: 70%;
    height: auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1279px) {
  .desc {
    padding: 50px 10px;
  }

  .desc-content {
    font-size: 0.9em;
  }
}
