<div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign="space-evenly center" class="desc">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="40" >
    <img src="{{image.imgUrl}}" class="desc-image" />
  </div>

  <div
    fxLayout="column"
    fxLayoutAlign="space-around center"
    fxFlex="60"
    style="padding-left: 5%;padding-right: 5%;"
  >
    <div class="desc-title">{{ title }}</div>
    <div class="desc-content"><div [innerHtml]="content | mdToHtml"></div></div>
    <div fxFlexAlign="left" style="width: 100%;">
      <a
        href="{{meetupLink}}"
        mat-flat-button
        target="_blank"
        style="letter-spacing: 1px;"
        class="register-btn"
      >
        {{ "registration" | translate }}
      </a>
    </div>
  </div>
</div>
