<!--The content below is only a placeholder and can be replaced.-->
<div id="myapp" class="gdg-theme">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav">
      <div class="sidenav-header">
        <img src="../assets/gfx/gdg_radzymin_S.png" style="max-width: 100%;max-height: 100%;height: auto;">
      </div>

      <mat-nav-list style="margin-top: 10px; width: 100%;">

        <a mat-list-item [id]="'sideMenuLink'+routeLink.label" *ngFor="let routeLink of routeLinks; let i = index;" [routerLink]="routeLink.link"
          routerLinkActive="active" (click)="sidenav.close()">
          <mat-icon mat-list-icon [ngClass]="routeLink.iconClass">{{routeLink.icon}}</mat-icon>
          <span mat-line>{{routeLink.label | translate}}</span>
        </a>


      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content cdkScrollable #sidenavContent>
      <div fxLayout="column" style="height: 100%;">

        <section name="content">
          <mat-toolbar color="primary" layout="row" id="mainToolbar" class="app-header">

            <div style="height: 100%;" fxLayout="row" fxLayoutAlign="space-between center" >

                  <a [routerLink]="'/'" mat-link  fxLayout="row" fxLayoutAlign="start center">
                    <img src="../assets/gfx/flat_gdg_logo_mark_gdg_radzymin_S.png" class="logo">
                  </a>

                <div style="height: 100%;" fxLayout="row" fxLayoutAlign="start center">
                    <img src="../assets/gfx/radzymin_herb_wew_S.png" class="herb">
                </div>


            </div>


            <span fxFlex="1 1 auto"></span>
            <app-tabs [activeLinkIdx]="activeLinkIndex" [routeLinks]="routeLinks" fxShow fxHide.xs [routerState]="urlState$ | async" *ngIf="navTabsVisible"></app-tabs>

            <mat-form-field class="lang">
              <mat-select [(value)]="selectedLang" (selectionChange)="onLangChange(select)" #select>
                <mat-option *ngFor="let l of langs" [value]="l.code">
                  {{l.code.toUpperCase()}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <button mat-icon-button (click)="sidenav.toggle()" id="sideMenuBtn" fxHide.gt-xs [fxShow]="menuBtnVisible">
              <mat-icon>menu</mat-icon>
            </button>

            <app-go-back [goBackTo]="goBackTo" [fxShow]="goBackBtnVisible"></app-go-back>


          </mat-toolbar>

          <div [@routerTransition]="urlState$ | async" (swipeleft)="swipeLeft()" (swiperight)="swipedRight()">
            <router-outlet #o="outlet"></router-outlet>

          </div>

        </section>
        <span fxFlex="1 1 auto"></span>



        <section name="footer" class="footer">
          <app-footer [contactInfo]="contactInfo$ | async"></app-footer>
        </section>

      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>



</div>
