@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();
// Define the default theme (same as the example above).
$primary-color-dark : #1976D2;
$primary-color : #2196F3;
$primary-color-light : #BBDEFB;
$primary-color-text : #FFFFFF;
$accent-color : #ffc20a;
$primary-text-color : #212121;
$secondary-text-color: #757575;
$divider-color : #BDBDBD;
$background-dark: #263238;
$gdg-red: #dd4d40;
$gdg-blue: #518ff5;
$gdg-green: #149f5b;
$gdg-yellow: #ffc20a;
$gdg-app-primary: mat-palette($mat-blue);
$gdg-app-accent: mat-palette($mat-amber);
$gdg-app-warn: mat-palette($mat-red);
$gdg-app-theme: mat-light-theme($gdg-app-primary, $gdg-app-accent, $gdg-app-warn);
$foreground: map-get($gdg-app-theme, foreground);
$background: map-get($gdg-app-theme, background);
// @include angular-material-theme($gdg-app-theme);
mat-ink-bar.mat-ink-bar {
    background-color: $primary-color-text !important;
}

.mat-tab-link {
  color: $primary-color-text;
}

.mat-tab-label {
  color: $primary-color-text;
}

.mat-tab-label-active {
    background-color: mat-color($gdg-app-primary, 400) !important;
    opacity: 1 !important;
    color: $primary-color-text;
}

.mat-tab-link:not(.mat-tab-label-active):focus {
    background: none !important;
    color: $primary-color-text;
}

.mat-tab-nav-bar {
  border-bottom: none;
}



