@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();
// Define the default theme (same as the example above).
$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFEB3B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;



$money-app-primary: mat-palette($mat-blue);
$money-app-accent : mat-palette($mat-yellow, A200, A100, A400);
$money-app-warn: mat-palette($mat-red);

$money-app-theme : mat-light-theme($money-app-primary, $money-app-accent, $money-app-warn);
$foreground: map-get($money-app-theme, foreground);
$background: map-get($money-app-theme, background);
// @include angular-material-theme($money-app-theme);
mat-ink-bar.mat-ink-bar {
  background-color: mat-color($money-app-accent) !important;
}

.mat-tab-label-active{
  background-color: mat-color($money-app-primary, 400) !important;
  opacity: 1 !important;
  }

 .mat-tab-link:not(.mat-tab-label-active):focus {
  background: none !important;
}
