@import "~@angular/material/theming";
@import "src/themes/my-theme.scss";
:host {
  padding: 0;
  width: 100%;
}

.home-content {
  padding: 2% 5%;
  width: 100%;
  min-height: 300px;
}

.content-title {
  font-size: 1.9em;
  margin-bottom: 20px;
}

.content-text {
  font-size: 1.1em;
  text-align: justify;
}

.content-img {
  max-width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-text-div {
  padding: 50px 30px;
}

@media only screen and (max-width: 599px) {
  .home-content {
    padding: 20px 10px;
  }
  .content-img {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .content-title {
    font-size: 1.6em;
    margin-bottom: 15px;
  }
  .content-text-div {
    padding: 30px 10px;
  }
  .content-text {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1280px) {
  .home-content {
    padding: 5vh 10vw;
  }
}

.content-white {
  background-color: $gdg-grey-light;
  color: $secondary-text-color;
}

.content-yellow {
  background-color: $gdg-yellow;
  color: $primary-color-text;
}

.content-red {
  background-color: $gdg-red;
  color: $primary-color-text;
}

.content-green {
  background-color: $gdg-green;
  color: $primary-color-text;
}

.content-blue {
  background-color: $gdg-blue;
  color: $primary-color-text;
}

:host ::ng-deep a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: $primary-color-text;
}

:host ::ng-deep .content-white a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: $secondary-text-color;
}
