<div class="home-content" fxLayout="row" fxLayout.xs="column" [ngClass]="getCardColorCss(lp)">

  <div *ngIf="!isEven(lp)" fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
    <img src="{{item.image?.imgUrl}}" class="content-img">
  </div>

  <div class="content-text-div" fxFlex="60" fxLayout="column" fxLayoutAlign="start start" >
    <div fxLayout="column" fxLayoutAlign="start none">
      <div class="content-title">{{item.title}}</div>
      <div class="content-text">
        <div [innerHTML]="item.content | mdToHtml" ></div>
      </div>

    </div>

  </div>

  <div *ngIf="isEven(lp)" fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
    <img src="{{item.image?.imgUrl}}" class="content-img">
  </div>

  <div fxFlex></div>
</div>
