@import '~@angular/material/theming';
@import 'src/themes/my-theme.scss';

.footer {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.6rem;
}

.links{
  font-size: 2.0em;
}

@media only screen and (max-width: 959px) {
  .links {
    font-size: 1.6em;
  }

}

@media only screen and (min-width: 500px) and (max-width: 959px) {
  .links {
    font-size: 1.8em;
  }
}
