<mat-toolbar class="footer" color="primary" layout="row" id="footer" fxLayoutAlign="center center" fxLayoutGap="25px" fxLayoutGap.xs="15px">
  <div *ngIf="contactInfo?.meetupUrl">
    <a mat-icon-button target="_blank" href="{{contactInfo?.meetupUrl}}"
    matTooltip="{{'joinmeetupgroup' | translate}}"  matTooltipClass="tooltip-link">
      <fa-icon [icon]="faMeetup" class="links"></fa-icon>
    </a>
  </div>

  <div *ngIf="contactInfo?.twitterUrl">
    <a mat-icon-button target="_blank" href="contactInfo?.twitterUrl"
    matTooltip="{{'followusontwitter' | translate}}"  matTooltipClass="tooltip-link">
      <fa-icon [icon]="faTwitter" class="links"></fa-icon>
    </a>
  </div>

  <div *ngIf="contactInfo?.facebookUrl">
    <a mat-icon-button target="_blank" href="{{contactInfo?.facebookUrl}}"
    matTooltip="{{'joinfbgroup' | translate}}"  matTooltipClass="tooltip-link">
      <fa-icon [icon]="faFacebookSquare" class="links"></fa-icon>
    </a>
  </div>

  <div *ngIf="contactInfo?.youtubeUrl">
    <a mat-icon-button target="_blank" href="{{contactInfo?.youtubeUrl}}"
    matTooltip="{{'seeourytchannel' | translate}}" matTooltipClass="tooltip-link">
      <fa-icon [icon]="faYoutube" class="links"></fa-icon>
    </a>
  </div>

  <div *ngIf="contactInfo?.email">
    <a mat-icon-button href="mailto:{{contactInfo?.email}}"
    matTooltip="{{contactInfo?.email}}" matTooltipClass="tooltip-link">
      <fa-icon [icon]="faEnvelope" class="links"></fa-icon>
      <span fxHide.xs style="font-size: 0.9em;margin-left: 10px;">{{contactInfo?.email}}</span>
    </a>
  </div>


</mat-toolbar>
