<mat-toolbar class="footer" color="primary" layout="row" id="footer" fxLayoutAlign="center center" >
      <div>
          <a *ngIf="true" mat-icon-button target="_blank" href="#"  fxFlex.xs="15">
            <fa-icon [icon]="faFacebookSquare"  class="links"></fa-icon>
          </a>
        </div>

        <div>
          <a *ngIf="true" mat-icon-button target="_blank" href="#" fxFlex.xs="15">
            <fa-icon [icon]="faMeetup"  class="links"></fa-icon>
          </a>
        </div>

        <div fxFlex.xs="70"  >
          <a *ngIf="true" mat-icon-button target="_blank" href="#" >
            <fa-icon [icon]="faEnvelope" class="links" style="margin-right: 10px;margin-left: 20px;"></fa-icon>
            <span style="font-size: 0.9em;">gdgradzymin@gmail.com</span>
          </a>
        </div>


</mat-toolbar>
