<div *ngIf="author" fxLayout.xs="column" fxLayout="row" fxLayoutAlign.xs="center center" fxLayoutAlign="start center"
  fxLayoutGap="15px" fxLayoutGap.xs="10px">
  <div fxFlexAlign.xs="start" style="font-size: 0.8em;">{{'postedby' | translate}}:</div>


  <div fxLayout="column" fxLayoutAlign="center center" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" class="author-photo" >
      <img src="{{author?.profilePhoto}}" style="border-radius: 50%;max-height: 40px;" >
    </div>

    <div class="author-name">
      {{author?.name}}
    </div>
  </div>

</div>
