@import '~@angular/material/theming';
@import 'src/themes/my-theme.scss';

.author-photo {
  padding-left: 10px;
  padding-right: 10px;
}

.author-name {
  font-size: 0.9em;
}

.postedby {
  font-size: 0.9em;
  color: $secondary-text-color;
}
