@import '~@angular/material/theming';
@import 'src/themes/my-theme.scss';



.blog-card {
  max-width: 540px;
}

.blog-card-image {
  background-size: cover;
}

.blog-post-date {
  font-size: 0.8em;
  color: $secondary-text-color;
}

.icon-calendar {
  color: $secondary-text-color;
  font-size: 1.1em;
}

@media only screen and (max-width: 599px) {
  .blog-card {
    max-width: 540px;
  }

  .icon-calendar {
    font-size: 0.9em;
  }

  .blog-post-date {
    font-size: 0.7em;
  }

  .card-content {
    font-size: 0.9em;
  }

  .read-button {
    font-size: 0.8em;
  }

}

@media only screen and (min-width: 600px) and (max-width: 699px) {
  .blog-card {
    min-width: 550px;
    max-width: 600px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1279px) {
  .blog-card {
    min-width: 600px;
    max-width: 640px;
  }
}

@media only screen and (min-width: 1279px) {
  .blog-card {
    max-width: 540px;
  }
}





