@import '~@angular/material/theming';
@import 'src/themes/my-theme.scss';

.blog-card {
  max-width: 640px;
}

.blog-card-image {
  background-size: cover;
}

.blog-post-date {
  font-size: 0.8em;
  color: $secondary-text-color;
}

.icon-calendar {
  color: $secondary-text-color;
  font-size: 1.1em;
}

@media only screen and (max-width: 499px) {
  .blog-card {
    max-width: 640px;
  }

  .icon-calendar {
    font-size: 0.9em;
  }

  .blog-post-date {
    font-size: 0.7em;
  }

  .card-content {
    font-size: 0.9em;
  }

  .read-button {
    font-size: 0.8em;
  }

}




