@import "~@angular/material/theming";
@import "src/themes/my-theme.scss";

.devfest-section {
    padding-top: 60px;
}
.devfest-container {
    width: 100%;
    padding-top: 30px;
    background-color: $gdg-grey-light;
}

@media only screen and (max-width: 599px) {

    .devfest-section {
        padding-top: 45px;
    }
 
  
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1279px) {
    .devfest-section {
        padding-top: 55px;
    }
  }