@import '~@angular/material/theming';
@include mat-core();
@import './themes/my-theme';

.gdg-theme {
  @include angular-material-theme($gdg-app-theme);
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.header-content {
  height: 100%;
  font-size: 2.0rem;
}

@media only screen and (max-width: 599px) {
  body {
      font-size: 16px;
  }
  .header-content {
    height: 100%;
    font-size: 1.6rem;
  }
}
