@import "~@angular/material/theming";
@import "src/themes/my-theme.scss";


.event-item {
    width: 100%;
    font-size: 0.9em;
    background-color: $gdg-grey-light;
    padding: 10px 10px;
}

.event-hour {
  color: $gdg-blue;
  font-size: 1.2em;
}

.event-title {
  font-size: 1em;
  color: $primary-text-color;
  font-weight: bold;
}

.event-time-icon {
  color: $secondary-text-color;
  margin-right: 10px;
}

.event-time {
  font-size: 0.9em;
  color: $secondary-text-color;
}

.event-speaker-icon {
  margin-right: 10px;
  color: $secondary-text-color;
}

.event-speaker {
  font-size: 0.9em;
  color: $secondary-text-color;
}

.event-icon {
  font-size: 1.4em;
  color: $gdg-red;
}

.now {
  border-color: #FBBC04;
  border-style: solid;
  border-width: 2;
}


@media only screen and (max-width: 959px) {
    .event-item {
        font-size: 0.8em;
    }

    .event-title {
        font-size: 0.9em;
      }

    
.event-hour {
    font-size: 1.1em;
  }
}