<div
  fxLayout="row"
  fxLayoutAlign="start stretch"
  fxLayoutGap="15px"
class="event-item"
[ngClass]="{'now': isNow()}"
>
  <div
    fxFlex="15"
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="15px"
    class="event-hour"
  >
    {{ eventItem.startDate | date: "HH:mm" }}
  </div>
  <div fxFlex="65" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="15px">
    <div>{{ eventItem.title }}</div>
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <fa-icon [icon]="faClock" class="event-time-icon"></fa-icon>
        <div class="event-time">{{ eventItem.getEventDuration() + " min" }}</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div>
          <fa-icon [icon]="faUserAlt" *ngIf="eventItem.presenter" class="event-speaker-icon"></fa-icon>
        </div>
        <div class="event-speaker">{{ eventItem.presenter?.name }}</div>
      </div>
    </div>
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <fa-icon [icon]="getEventIcon()" *ngIf="getEventIcon()" class="event-icon"></fa-icon>
  </div>
</div>
